<div id="{{ modal_id }}" class="modal hide fade {{ modal_class }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  {% if modal_title %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ modal_title }}</h3>
  </div>
  {% endif %}

  {% if content %}
  <div class="modal-body">
    {{ content }}
  </div>
  {% endif %}

  <div class="modal-footer">
    <button class="btn {{close_button_class}}" data-dismiss="modal" aria-hidden="true">{{close_button_text}}</button>
    {% if modal_form %}
    <a href="javascript:void(0);" onclick="$(this).parent().parent().children('.modal-body').find('form').submit();" class="btn {{ submit_button_class }}">{{ submit_text }}</a>
    {% endif %}
  </div>
</div><!-- #{{ modal_id }} -->
