{% extends "base.html" %}

{% block content %}
<div id="wrapper" class="container">
	<div id="navbar" class="span3">
		<a href="/adddocument/">Add Document</a><br >
		<a href="/">View Documents</a>
		
	</div><!-- #navbar -->
	<div id="content" class="span8">
		<span class="label label-info">{{ title }}</span>
		<div id="content-wrapper">
			{% block panelContent %} Content {% endblock %}
			<div class="clear-fix"></div>
		</div>
	</div><!-- (bootstrap) .row -->
	<div class="clear-fix"></div>
</div><!-- (bootstrap) .row -->

{% endblock %}