<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd" >

    <http auto-config="true" >

        <intercept-url
            access="ROLE_ADMIN"
            pattern="/" />

        <form-login
            authentication-failure-url="/loginfailed"
            default-target-url="/"
            login-page="/login" />

        <logout logout-success-url="/logout" />
    </http>

    <authentication-manager>

        <authentication-provider>

            <jdbc-user-service
                authorities-by-username-query="
		      select distinct u.username, r.authority from roles AS r, user_roles AS ur, users AS u where u.username = ?" 
		      
                data-source-ref="dataSource"
                users-by-username-query="
		      select username,password, enabled 
		      from users where username=?" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>