{% load staticfiles %}<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
	<title>PDT Portal - {{ title }}</title>
	<!--

		Load css resources, the libraries are:
			-Bootstrap (http://twitter.github.io/bootstrap/)
			-Toastr (which is currently not being used) (https://github.com/CodeSeven/toastr)
			-jQuery-ui (http://jqueryui.com/)
			-Custome Stylesheets ({% static 'dashboard/css/style.css' %})

	-->
	<link rel="stylesheet" href="{% static 'www/bootstrap/css/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'www/toastr/toastr.css' %}"></link>
	<link rel="stylesheet" href="{% static 'www/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'www/css/style.css' %}"></link> 
	<!--
		End stylesheet resources
	-->
</head>
<body>

<div class="container" style="margin-bottom: -40px;">
	<h3 id="page-title">PDT Portal</h3><!-- #page-title -->
</div><!-- (boostrap) .container -->
<!--

	This is the UI template.

-->
<div id="wrapper" class="container">
	{% if request.user.is_superuser %}
	<a id="admin" class="btn btn-inverse" href="/admin/">admin</a>
	{% endif %}
	{% if request.user.is_authenticated %}
	<a id="logout" class="btn btn-info" href="/logout/">logout</a>
	{% endif %}
	<div id="navbar" class="span3">

		{% for group in user.groups.all %}
			
			{% if group.name == 'General User' %}
			<div class="nav-block">
				<h6>General User Navigation</h6>
				<a href="/">View Documents</a><br>
				<a href="/viewmeetings/">View Meetings</a>
			</div><!-- .nav-block -->
			{% endif %}

			{% if group.name == 'Program Manager' %}
			<div class="nav-block">
				<h6>Program Manager Navigation</h6>
				<a href="/adddocument/">Add Document</a>
			</div><!-- .nav-block -->
			{% endif %}

			{% if group.name == 'Supervisor' %}
			<div class="nav-block">
				<h6>Supervisor Navigation</h6>
				<a href="/viewusers/">Users</a><br>
				<a href="/addmeeting/">Add Meeting</a>
				<!-- {% for models in dashboard_models %}
					<a href="/objects/{{ models }}/">{{ models }}</a> <br>
				{% endfor %} -->
			</div><!-- .nav-block -->
			{% endif %}
		
		{% endfor %}	
	</div><!-- #navbar (bootstrap) .span3 -->
	<div id="content-wrapper" class="span8">
		<span class="label label-info">{{ title }}</span>
		<div id="content">
			{% block content %} 


				This is the template contents. 


			{% endblock %}
			<div class="clear-fix"></div>
		</div><!-- #content -->
	</div><!-- #content-wrapper (bootstrap) .span8 -->
	<div class="clear-fix"></div>
</div><!-- #wrapper (bootstrap) .container -->
<!-- 

	End UI template.

-->

<!--
	Load the javascript resources, the libraries are:
		-jQuery (http://jquery.com/)
		-Bootstrap (http://twitter.github.io/bootstrap/)
		-jQuery-ui (http://jqueryui.com/)
		-jQuery.cookie (https://github.com/carhartl/jquery-cookie)
-->
<script src="{% static 'www/js/jquery.min.js' %}"></script>
<script src="{% static 'www/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'www/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'www/js/jquery.cookie.js' %}"></script>
<script src="{% static 'www/toastr/toastr.js' %}"></script>
<!--

	End javascript resources

-->

<script>
//This function loops recursively checking
//	for things like change in page height,
//	or notifications etc.
//It is not being used right now.
/*function loop(){

	//Get the document height.
	//var height = $(document).height();

 Not used right now.
	//Get the content div.
	contentdiv = $("#content");
	//Check to see if it exists on the page.
	if(contentdiv.length > 0){
		//Get the height of the content
		var contentHeight = contentdiv.height();
		//
		var plainbg = $('#plain-background');

		plainbg.height(contentHeight);
	}

	var t = setTimeout('loop()', 50);
}
*/
$(function(){
//Load the datepicker
var datepicker = $(".datepicker");
//Check for any datepickers
if(datepicker.length > 0){
	//If datepickers are found load
	//	the jQuery UI datepicker.
	datepicker.each(function(){
		$(this).datepicker();
	});
}
//	loop();
});

</script>

{% block scripts %}
<!--
	This block is for scripts that are 
		used only on one template.
-->
{% endblock %}
</body>
</html>