{% load staticfiles %}<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
	<title>PDT Portal - {{ title }}</title>
	<!--

		Load css resources, the libraries are:
			-Bootstrap (http://twitter.github.io/bootstrap/)
			-Toastr (which is currently not being used) (https://github.com/CodeSeven/toastr)
			-jQuery-ui (http://jqueryui.com/)
			-Custome Stylesheets ({% static 'dashboard/css/style.css' %})

	-->
	<link rel="stylesheet" href="{% static 'www/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'www/toastr/toastr.css' %}" />
	<link rel="stylesheet" href="{% static 'www/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'www/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'www/css/jquery.ui.timepicker.css' %}" />
	<!--
		End stylesheet resources
	-->
	{% block stylesheets %}
	{% endblock %}
</head>
<body>

{% if 'currentmeeting' in request.GET %}
<div id="current_meeting_button" class="shadow" onclick="window.location = '/viewmeetings/#{{ request.GET.currentmeeting }}';">
	Return to the meeting list
</div>
{% endif %} 

{% block htmlcontent %}
{% endblock %}
<!--
	Load the javascript resources, the libraries are:
		-jQuery (http://jquery.com/)
		-Bootstrap (http://twitter.github.io/bootstrap/)
		-jQuery-ui (http://jqueryui.com/)
		-jQuery.cookie (https://github.com/carhartl/jquery-cookie)
-->
<script src="{% static 'www/js/jquery.min.js' %}"></script>
<script src="{% static 'www/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'www/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'www/js/jquery.cookie.js' %}"></script>
<script src="{% static 'www/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'www/js/jquery.simplemodal.min.js' %}"></script>
<script src="{% static 'www/toastr/toastr.js' %}"></script>
<script src="{% static 'www/js/jquery-ui-timepicker-addon.js' %}"></script>
<!--

	End javascript resources

-->

<script>
//This function loops recursively checking
//	for things like change in page height,
//	or notifications etc.
//It is not being used right now.
/*function loop(){

	//Get the document height.
	//var height = $(document).height();

 Not used right now.
	//Get the content div.
	contentdiv = $("#content");
	//Check to see if it exists on the page.
	if(contentdiv.length > 0){
		//Get the height of the content
		var contentHeight = contentdiv.height();
		//
		var plainbg = $('#plain-background');

		plainbg.height(contentHeight);
	}

	var t = setTimeout('loop()', 50);
}
*/
function bg_animate(element,color){
	element.animate({
		backgroundColor: color
	}, 500);
}

$(function(){

$('.dark-button').each(function(){

	$(this).hover(function(){
		bg_animate($(this),'#324A32');
	},function(){
		bg_animate($(this),'#4B6B4B');
	});

});

//Load the datepicker
var datepicker = $(".datepicker");
//Check for any datepickers
if(datepicker.length > 0){
	//If datepickers are found load
	//	the jQuery UI datepicker.
	datepicker.each(function(){
		$(this).datepicker();
	});
}
//Load the datepicker
var datetimepicker = $(".datetimepicker");
//Check for any datepickers
if(datetimepicker.length > 0){
	//If datepickers are found load
	//	the jQuery UI datepicker.
	datetimepicker.each(function(){
		$(this).datetimepicker({
			timeFormat: 'HH:mm:ss',
			dateFormat: "yy-mm-dd",
			sliderAccessArgs: { touchonly: false }
		});
	});
}
//Load the phonenumbers
var phone = $(".phone");
//Check for phone numbers
if(phone.length > 0){
	//Create a mask for the phone number.
	phone.each(function(){
		$(this).mask("(999) 999-9999");
	});
}
//	loop();
});

</script>

{% block scripts %}
<!--
	This block is for scripts that are
		used only on one template.
-->
{% endblock %}
</body>
</html>