{% extends "base_panel.html" %}

{% block panelContent%}
		
		{{ search_form|safe }}
		
		<table class="table table-striped">
			<tr>
				<th>Username</th>
				<th>Orginization</th>
				<th>Activated</th>
				<th>Edit</th>
			</tr>
		{% for u in users %}
			<tr>
				<td>{{ u.user.username }}</td>
				<td>{{ u.user.organization }}</td>
				<td>
					{% if u.user.is_active %}
						yes
					{% else %}
						no
					{% endif %}
				</td>
				<td>
					<a href="/updateuser/{{ u.user.id }}/" class="btn btn-warning">Edit</a>
				</td>
			</tr>
		{% endfor %}
		</table><!-- (bootstrap) .table .table-striped -->

{% endblock %}