{% extends "base.html" %}

{% block content %}
	<form action="{{ request.get_full_path }}" method="POST">
		{% csrf_token %}
		<table>
			{{ ResetPasswordForm.as_table }}
			<tr>
				<td></td>
				<td><input type="submit" class="btn" /></td>
			</tr>
		</table>
	</form>
{% endblock %}

{% block scripts%}
<script>
	$(function(){
		{% if BadPassword %}
		toastr.error('The password you entered did not match the one in our records.');
		{% endif %}
		{% if PasswordMismatch %}
		toastr.error('The passwords you entered do not match.');
		{% endif %}
		{% if UpdatedInformation %}
		toastr.success('Your information is updated.');
		{% endif %}
	});
</script>
{% endblock %}