{% extends "base.html" %}
{% block content %}

	{{ search_form | safe }}

	<a href="javascript:add_user();" class="btn btn-success light-button btn-mini" style="margin-bottom: 10px"><i class="icon-plus"></i></a>
	
	<div class="simplemodal-container" id="add_user" style="display: none;">
		<h4>Add the User</h4>
		<form action="{{ request.get_full_path }}" method="POST">
		{% csrf_token %}	
		<input type="hidden" name="add_user" value="1"/>
		<table>
			{{ add_user_form.as_table }}
			<tr>
				<td></td>
				<td><input type="submit" class="btn btn-primary form-submit-button" value="submit" /></td>
			</tr>
		</table>
		</form>
	</div>

	<table class="table table-striped table-bordered" style="background: #FEFEFE;">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>Active</th>
			<th>Program Manager</th>
			<th></th>
		</tr>

		{% for u in users %}
			<tr>
				<td>{{ u.user.first_name }}</td>
				<td>{{ u.user.last_name }}</td>
				<td>{{ u.user.username }}</td>
				<td>{% if u.user.is_active %}yes{% else %}no{% endif %}</td>
				<td>{% if u.is_program_manager or request.POST.is_program_manager and request.POST.edit_user == u.publicid %}yes{% else %}no{% endif %}</td>
				<td style="text-align: center"><a href="javascript:edit_user('{{ u.extendeduser.publicid }}');" class="btn btn-warning medium-dark-button"><i class="icon-pencil icon-white"></i></a>

					<div class="simplemodal-container" id="edit_user_{{ u.extendeduser.publicid }}" style="display: none;">
						<div>
						<h4>Edit the User</h4>
						<input type="hidden" name="edit_user" value="{{ u.extendeduser.publicid }}" />
						<table>
							{{ u.user_form.as_table }}
							<tr>
								<td></td>
								<td><input type="submit" class="btn btn-primary form-submit-button" value="submit" /></td>
							</tr>
						</table>
					</div>
					</div>
				</td>
			</tr>
		{% endfor %}

	</table>

	<!-- Output the pagination links. -->
		<div id="pagination" class="pagination">
		    	<ul>
			        {% if paginated_users.has_previous %}
			            <li><a href="?{{queries.urlencode}}&amp;page={{ paginated_users.previous_page_number }}">prev</a></li>
		            {% else %}
		            	<li class="active"><a>prev</a></li>
			        {% endif %}
			     <li class="active"><a>Page {{ paginated_users.number }} of {{ paginated_users.paginator.num_pages }}</a></li>
			        {% if paginated_users.has_next %}
			            <li><a href="?{{queries.urlencode}}&amp;page={{ paginated_users.next_page_number }}">next</a></li>
		            {% else %}
		            	<li class="active"><a>next</a></li>
			        {% endif %}
		        </ul>
		</div><!-- (bootstrap) .pagination -->
		<!-- End the output of the pagination links. -->
{% endblock %}

{% block scripts %}
<script>
	function edit_user(publicid){

		html = '<form action="{{ request.get_full_path }}" method="POST">';
		html+= "{% csrf_token %}";
		html+= $("#edit_user_"+publicid).html();
		html+= '</form>';

		$.modal(html,{
			overlayClose : true,
		});
	}
	
	function add_user(){
		$("#add_user").modal({
			overlayClose : true,
		});
	}

	$(function(){
		{% if existingusernotification %}
			toastr.error('The username you submited already exists.');
			if((typeof existingusernotification) == 'string'){
				edit_user('{{ existingusernotification }}');
			}else{
				add_user();
			}
		{% endif %}
	});
</script>
{% endblock %}