{% extends "gui_base.html" %}

{% load staticfiles %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'www/css/usermanagement.style.css' %}" />
{% endblock %}

{% block content %}

	<div id="content_wrapper" class="view_users_wrapper">

	<!-- Search form for browsing through users. -->
	{{ search_form | safe }}
	<!-- End the search form -->

	<!-- Load a form for adding a user -->
		{% with form_name='add_user' user_form=add_user_form publicid="" %}
			{% include "user_management/user_form.html" %}
		{% endwith %}
	<!-- End the form for adding a user -->

	<!-- Load a modal for each user to edit -->
	{% for u in users %}
		{% with form_name='edit_user' user_form=u.user_form publicid=u.publicid %}
			{% include "user_management/user_form.html" %}
		{% endwith %}
	{% endfor %}
	<!-- End the loading of a modal for each user -->
	<a href="javascript:add_user();" class="btn btn-success light-button btn-mini pull-left" style="margin-bottom: 10px"><i class="icon-plus"></i></a><!-- A button for pulling up the add user modal -->

		<!-- This table is a paginated list of all of the users -->
		<table class="table table-striped table-bordered" style="background: #FEFEFE;">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Active</th>
				<th>Program Manager</th>
				<th></th>
			</tr>

			<!-- The list of the users in the system that are not Site Admins -->
			{% for u in users %}
				<tr>
					<td>{{ u.user.first_name }}</td>
					<td>{{ u.user.last_name }}</td>
					<td>{{ u.user.username }}</td>
					<td>
							{% if u.user.is_active %}
								<!-- The user is active. -->
								yes
							{% else %}
								<!-- The user is not active. -->
								no
							{% endif %}
					</td>
					<td>
						{% if u.is_program_manager or request.POST.is_program_manager and request.POST.edit_user == u.publicid %}
							<!-- They are a program manager. -->
							yes
						{% else %}
							<!-- They are not a program manager. -->
							no
						{% endif %}
					</td>
					<td style="text-align: center">
							<!-- A button for loading the user edit modal -->
							<a href="javascript:edit_user('{{ u.extendeduser.publicid }}');" class="btn btn-warning medium-dark-button">
								<i class="icon-pencil icon-white"></i>
							</a>

					</td>
				</tr>
			{% endfor %}
			<!-- End the list of the user that are not Site Admins -->

		</table>
		<!-- End the paginated list of all of the users -->
	<!-- Output the pagination links. -->
		<div id="pagination" class="pagination">
		    	<ul>
			        {% if paginated_users.has_previous %}
			            <li><a href="?{{queries.urlencode}}&amp;page={{ paginated_users.previous_page_number }}">prev</a></li>
		            {% else %}
		            	<li class="active"><a>prev</a></li>
			        {% endif %}
			     <li class="active"><a>Page {{ paginated_users.number }} of {{ paginated_users.paginator.num_pages }}</a></li>
			        {% if paginated_users.has_next %}
			            <li><a href="?{{queries.urlencode}}&amp;page={{ paginated_users.next_page_number }}">next</a></li>
		            {% else %}
		            	<li class="active"><a>next</a></li>
			        {% endif %}
		        </ul>
		</div><!-- (bootstrap) .pagination -->
		<!-- End the output of the pagination links. -->
	</div>
{% endblock %}

{% block scripts %}
<script>	

	function edit_user(publicid){
		//alert($('#edit_user_'+publicid).length)
		//$('#edit_user_'+publicid).modal();
		var form = $('#edit_user_'+publicid);

		form.show();

	}
	
	function add_user(){
		$("#add_user_").show();
	}

	$(function(){
		{% if existingusernotification %}
			toastr.error('The username you submited already exists.');
			if((typeof existingusernotification) == 'string'){
				edit_user('{{ existingusernotification }}');
			}else{
				add_user();
			}
		{% endif %}
	});
</script>
{% endblock %}