{% load staticfiles %}<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
	<title>PDT Portal - {{ title }}</title>
	<link rel="stylesheet" href="{% static 'document_management/bootstrap/css/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'document_management/toastr/toastr.css' %}"></link> 
	<link rel="stylesheet" href="{% static 'document_management/css/style.css' %}"></link> 
</head>
<body>

<div class="container">
{% block content %} Content From Template {% endblock %}
</div><!-- (bootstrap) .container -->

<script src="{% static 'document_management/js/jquery.min.js' %}"></script>
<script src="{% static 'document_management/bootstrap/js/bootstrap.min.js' %}"></script>
<script>

function loop(){

	var height = $(document).height();

	wrapper = $('#wrapper');
	if(wrapper.length > 0){
		wrapper.height(height - 50);
	}
	var t = setTimeout('loop()', 50);
}

$(function(){

	loop();

});
</script>

{% block scripts %}{% endblock %}
</body>
</html>