{% load staticfiles %}<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
	<title>PDT Portal - {{ title }}</title>
	<link rel="stylesheet" href="{% static 'document_management/bootstrap/css/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'document_management/toastr/toastr.css' %}"></link> 
	<link rel="stylesheet" href="{% static 'document_management/jquery-ui/css/ui-lightness/jquery-ui.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'document_management/css/style.css' %}"></link> 
</head>
<body>
<div class="container" style="margin-bottom: -40px;">
<h3>PDT Portal</h3>
</div>
{% block content %} Content From Template {% endblock %}

<script src="{% static 'document_management/js/jquery.min.js' %}"></script>
<script src="{% static 'document_management/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'document_management/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script>

function loop(){

	var height = $(document).height();

	wrapper = $('#wrapper');
	if(wrapper.length > 0){
		wrapper.height(height - 50);
	}
	var t = setTimeout('loop()', 50);
}
</script>

{% block scripts %}{% endblock %}
</body>
</html>