{% extends "gui_base.html" %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'www/css/topics.style.css' %}" />
{% endblock %}
{% block content %}
	<input type="hidden" id="csrftokenvalue" value="{{ csrf_token }}" />
	<input type="hidden" id="topic_publicid" value="{{ request.GET.publicid }}" />
	<div style="padding-bottom: 20px;">
	<div id="content_wrapper" class="border-radius-5 box-shadow-2">
		<div id="topic-edit-buttons">
			{% if Supervisor and not topic.topic_object.supervisor_released %}
			<a href="javascript:void(0);" onclick="$('#release_topic').submit();" id="release_button" class="btn btn-success light-button btn-mini pull-left">Approve This Topic</a>
			{% endif %}
			{% if Supervisor or user_is_owner %}
			<a href="javascript:void(0);" onclick="$('#delete_topic').submit();" type="submit" value="Delete This Topic" id="delete_button" class="btn light-button btn-mini btn-danger pull-left">Delete this Topic</a>
			<!-- Output the delete button if the user owns the document -->
			{% endif %}
			{% if Supervisor and not topic.topic_object.supervisor_released %}
			<!-- Output the release button if the user is a supervisor-->
			<form method="POST" action="{{ request.get_full_path }}" id="release_topic">
				{% csrf_token %}
				<input type="hidden" name="released_topicid" value="{{ request.GET.publicid }}" />
			</form>
			<!-- End output of the release button -->
			{% endif %}
			{% if Supervisor or user_is_owner %}
			<form method="POST" action="{{ request.get_full_path }}" id="delete_topic">
				{% csrf_token %}
				<input type="hidden" name="deleted_topicid" value="{{ request.GET.publicid }}" />
			</form>
			<!-- End output of the delete button -->
			{% endif %}
			<div class="clearfix"></div>
		</div>
		{% if user_is_owner %}
		<!-- Start the output of the document. -->
		{% for document in documents %}
			{{ document.update_document_form }}
			{{ document.deleted_document_form }}
		{% endfor %}
		<!-- End the output of the document. -->
		{% endif %}

		<h5 id="topic-title">
		{{topic.topic_object.name}}&nbsp;&nbsp;<small>{{topic.topic_object.topic_slug}}</small>
		{% if topic.topic_object.meeting %}
			&nbsp;&nbsp;&nbsp;<a href="/viewmeetings/?month={{ topic.topic_object.meeting.startdate.month }}&year={{ topic.topic_object.meeting.startdate.year }}#{{ topic.topic_object.meeting.publicid }}">View Meeting Schedule</a>
		{% endif %}
		{% if  topic.topic_object.supervisor_released %}
			<span class="label label-success margin-left-10">Approved</span><!-- .margin-left-10 (boostrap) .label .label-sucess -->
		{% endif %}
		</h5>

		<div id="wrap_documents" class="border-radius-5 box-shadow-1 pull-left">
			<table class="table table-striped">
				<tr>
					<th class="document_item add_document" publicid="{{ topic.topic_object.publicid }}">Document
						{% if user_is_owner %}
						<i class="icon-plus-sign document_button" title="Add a document." publicid="{{ topic.topic_object.publicid }}"></i>

						<div class="relative">	
							{% with id="add_document_form" form_name="add_document" %}		
								{% include "topic_management/simple_document_upload_form.html" %}
							{% endwith %}
						</div>
						{% endif %}
					</th>
					<td style="width: 15px;"></td>
					<td style="width: 15px;"></td>
					<th># Comments</th>
					<th></th>
				</tr>
			{% for document in documents %}

				<tr class="document_item change_document" publicid="{{ document.document_object.publicid }}">
					<td>
						<a href="/download/{{ topic.topic_object.publicid}}/{{ document.document_object.fileName}}" class="download_link" title="{{ document.document_object.name }}">{{ document.document_object.name | truncatechars:50  }}</a>
					</td>
					<td>
						{% if user_is_owner %}
						<i class="icon-upload document_button" title="Revise this document." publicid="{{ document.document_object.publicid }}"></i>
						<div class="relative">
						{% with form_name="updated_documentid" form_value=document.document_object.publicid classes="update_document_form" %}
							{% include "topic_management/simple_document_upload_form.html" %}
						{% endwith %}
						</div>
						{% endif %}
					</td>
					<td>
						{% if user_is_owner %}
						<i class="icon-trash document_button" title="Delete this document." publicid="{{ document.document_object.publicid }}" onclick="$('#delete_document_form_{{ document.document_object.publicid }}').submit();"></i>
						<form action="{{ request.get_full_path }}" method="POST" id="delete_document_form_{{ document.document_object.publicid }}" class="delete_document_form">
							{% csrf_token %}
							<input type="hidden" name="deleted_documentid" value="{{ document.document_object.publicid }}" />
						</form>
						{% endif %}
					</td>
					</td>
					<td>{{ document.document_object.comments.count }}</td>
					<td>

						{% if document.document_object.comments.count > 0 %}
							<a href="javascript:void(0);" onclick="$('#document_feedback_{{ document.document_object.publicid }}').toggle();" class="btn btn-success btn-mini pull-right light-button">View Feedback</a>
						{% else %}
							<a href="javascript:void(0);" onclick="$('#document_feedback_{{ document.document_object.publicid }}').toggle();$('#document_comment_form_{{ document.document_object.publicid }}').toggle();" class="btn btn-primary btn-mini pull-right light-button">Add Feedback</a>
						{% endif %}
					</td>
				<tr>
				<tr style="display: none;" class="document_feedback" id="document_feedback_{{ document.document_object.publicid }}">
					<td colspan="5">

						{% for comment in document.comments %}
							{{ comment.html | safe }}
						{% endfor %}

						<div class="document_feedback" style="text-align: right;">
							<a href="javascript:void(0);" onclick="$('#document_comment_form_{{ document.document_object.publicid }}').toggle();" class="btn btn-link">Comment</a>

						{{ document.comment_form|safe }}
						<div style="clear: both;"></div>
						</div>

					</td>
				</tr>

			{% endfor %}
			</table><!-- (boostrap) .table .table-striped -->

			<!-- This is the display/edit of the description of the topic -->
			<div class="well well-small">

				<!-- This is the display of the description -->
				<div id="description_display">
					{% if Supervisor or user_is_owner %}
						<i class="icon-edit pull-right document_button" title="Edit description."></i><!-- .document_button (bootstrap) .icon-edit .pull-right-->
					{% endif %}
					{{topic.topic_object.description}}
				</div><!-- #description_display -->
				<!-- End the display of the description -->

				{% if Supervisor or user_is_owner %}
				<!-- This is the edit form for the description -->
				<div id="description_edit">
					<i class="icon-remove description_remove_button pull-right document_button" title="Cancel."></i><!--.description_remove_button .document_button (bootstrap) .icon-remove .pull-right -->
					<form action="{{ request.get_full_path }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="update_topic_description" value="{{ topic.topic_object.publicid }}" />
						<textarea name="description" id="description_text_box">{{topic.topic_object.description}}</textarea><br>
						<center>
							<input type="submit" value="Save" class="btn btn-primary" />
						</center>
					</form>
				</div><!-- #description_edit -->
				<!-- End the edit form for the description -->
				{% endif %}

			</div><!-- (bootstrap) .well .well-small -->
			<!-- End the display/edit of the description of the topic -->

			{% if Supervisor or user_is_owner %}

			<!-- Start the output of a release button for adding to a meeting. -->
			<div id="release_interface">
				<form method="POST" action="{{ request.get_full_path }}" class="form-inline" id="release_document_for_evaluation">
					{% csrf_token %}
					<input type="hidden" name="topic_ready_for_review_id" value="{{ topic.topic_object.publicid }}"  />
				{% if not topic.topic_object.readyforreview %}
					Presentation Length: <input type="text" style="width: 30px" name="topic_presentationlength" id="topic_presentationlength" value="15" /> minutes
					<input type="submit" class="btn btn-primary light-button" value="Release for Review" on  />
					<div>
						Meeting to be in:
						<select name="preferredmeeting_publicid" id="release_meetings_select">
							<option value="" current-length="No Meeting">No Meeting</option>
							{% for meeting in meetings_available %}
							<option current-length="{{ meeting.current_meeting_length }}" value="{{ meeting.publicid }}">{{meeting.name}} - {{ meeting.startdate }}</option>
							{% endfor %}
						</select>
					</div>
				{% else %}
					<span class="text-success">This has been readied for review. It is a {{ topic.topic_object.presentationlength }} minute presentation.</span>
					<input type="button" value="Change" class="btn btn-primary pull-left light-button" onclick="verify_change_presentation_length($(this).closest('form'));" /><br>
					<small>This was set at {{topic.topic_object.datesetforreview}}</small>
				{% endif %}
				</form><!-- (bootstrap) .form-inline -->
			</div><!-- #release_interface -->
			<!-- End the output of a release button for adding to a meeting. -->
			{% endif %}
		</div><!-- #wrap_documents -->

		<div id="topic_comment_wrapper">
			{% include "topic_management/topic_comments.html" %}
		</div><!-- #topic_comment_wrapper -->
	<div class="clearfix"></div>
	</div><!-- #content_wrapper -->
	<div class="clearfix"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'www/js/comment.refresh.js' %}"></script>
<script>
	$(function(){

		{% if commentnotification %}
			//If a comment has been added output a success notification.
			toastr.success('Your comment has been added.');
		{% endif %}

		{% if releasednotification %}
			//If the comment has been approved by the supervisor,
			//		a success notification.
			toastr.success('You have approved the topic.');
		{% endif %}

		{% if updatednotification %}
			//If a topic has been updated, output a success notification.
			toastr.success('You have updated your topic.');
		{% endif %}

		{% if deleteddocumentdnotification %}
			//If a document has been deleted from the topics collection 
			//	of documents output a red dialogue.
			toastr.error('You have deleted one of your documents.');
		{% endif %}

		{% if addednotification %}
			//If a document has been added to the topics collection of 
			//	of documents.
			toastr.success('You have added a document.');
		{% endif %}

		//Check the hash of the url for an added topic.
		if(window.location.hash == '#added'){
			//If a topic has been added we redirect to this 
			//		page with the hash at the end of the url.
			//		We output a notification.
			toastr.success('You added \'{{ topic.topic_object.name }}\'.');
		}

		//Hide the document buttons for the interface.
		$('.change_document .document_button').hide();

		//Add a cursor pointer to the document button.
		//Add a click action to the .document_button
		//		objects.
		$('.document_button').css({'cursor':'pointer'}).click(function(){
				//This is shown when a user has click the edit icon next 
				//	to the description form.
				//If the description remove icon is clicked hide the description
				//	form and show the description value.
				if($(this).hasClass('description_remove_button')){
					//Hide the description form.
					$("#description_display").show();
					//Show the description 
					$("#description_edit").hide();
					//Return to stop execution.
					return false;
				}
				//If the description remove icon is clicked show the description
				//	form and hide the description value.
				if($(this).hasClass('icon-edit')){
					//Show the description.
					$("#description_display").hide();
					//Hide the description.
					$("#description_edit").show();
					//Return to stop the execution.
					return false;
				}
				
				//The following code displays a modal based on the icon clicked.
				//	it is the interface for editing the topic information.

				//Define a variable to return the html.
				var html = "";
				//Gets the parent tr with the publicid
				var documentid = $(this).parent().parent().attr('publicid');
				//If .icon-upload is clicked load an upload form.
				if($(this).hasClass('icon-upload')){
					//Update the document id.
					form = $(this).closest('td').find('.update_document_form');
				}
				//If .icon-plus-sign is click load a add document dialogue.
				if($(this).hasClass('icon-plus-sign')){
					//Add the modal_id
					form = $('#add_document_form');
				}
				//Load the modal.
				//$(modal_id).modal();
				if(form) form.toggle();
				//alert(modal_id)
		});
		//Attach a hover event to each .document_item 
		$('.document_item').hover(
		//On mouseover do this.
		function(){
			//Get the public id  of the document.s
			var publicid = $(this).attr('publicid');
			//Loop through each icon, the icons are interface buttons.
			$('i[publicid="'+publicid+'"]').each(function(){
				//Add a tooltip to each button.
				$(this).tooltip({track:true, tooltipClass: "yellow-tooltip"});
				//Show the icon.
				$(this).show();
				if($(this).hasClass('icon-upload'))	message = 'Upload a revision.';
				if($(this).hasClass('icon-trash'))	message = 'Delete this document.';
			});
		},
		//On mouseout do this.
		function(){
			//Go through a class.
			if($(this).hasClass('change_document')){
				//Get the publicid of the topic.
				var publicid = $(this).attr('publicid');
				//Select each of the icons.
				$('i[publicid="'+publicid+'"]').each(function(){
					//Hide this topic.
					$(this).hide();
				});
			}
		});
		//Add a tooltip to the following documents.
		$('.download_link,.icon-edit,.description_remove_button').tooltip({track:true, tooltipClass: "yellow-tooltip"});
	});


	$("#release_document_for_evaluation").submit(function(){
		
	  var form = $(this);

	  var meeting_select = form.find('#release_meetings_select');

	  var presentationlength = $('#topic_presentationlength').val();

	  var meeting_length = meeting_select.find('option:selected').attr('current-length');

	  if(meeting_select.length != 0){

		  var length = meeting_length - presentationlength;

		  var accepted = true;

		  if(meeting_length != "No Meeting"){
		  	if(length < 0){
		  		if(presentationlength > 0){
		  			alert('There is only '+meeting_length+' minute(s) left in the meeting, your presentation is currently set to '+presentationlength+' minute(s).');
	  			}else{
	  				alert('There is no more space in the meeting.');
	  			}
		  		accepted = false;
		  	}
		  }

		  return accepted;

	  }else{
	  	return true;
	  }
	});

	function verify_change_presentation_length(form){
	  var c = confirm('Are you sure? Your topic will be removed from the meeting it is currently in, and will be added to the next meeting with an available slot.');
	  if(c){
	    form.submit();
	  }
	}

</script>
{% endblock %}