{% extends "base_panel.html" %}

{% block panelContent%}
		<a href="/addobject/{{ objectname }}/">{{ objectname }}</a>
		<div>
			<div class="pull-right">
				<form action="{{ request.get_full_path }}" class="form-inline" method="post">
					{% csrf_token %}
					<input type="text" id="datepicker" name="date"style="width: 100px" placeholder="date" />
				  	<input type="text" name="search" class="input-medium search-query">
				  	<button type="submit" class="btn">Go</button>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>

		{{ objects }}

{% endblock %}

{% block scripts%}
	<script>

	  $(function() {
	    $( "#datepicker" ).datepicker();
	  });
    </script>
{% endblock %}