/* CSS styles */

HTML,BODY{
	background: #999999;
}

.form-table{

	border: 1px solid #DDD;
	background: #EEE;
	text-align: center;
	margin: 20px auto 0 auto;
	width: 200px;
	height: 100px;

}

#register-form{

	width: 500px;

}