/* CSS styles */

HTML,BODY{
	width:100%;
	height: 100%;
	background: #999999;
}

/*
* The UserAuth Styles.
*/
.form-table{
	border: 1px solid #DDD;
	background: #EEE;
	text-align: center;
	margin: 20px auto 0 auto;
	width: 200px;
	height: 100px;
}

#register-form{
	width: 500px;
}
/*
* End UserAuth Styles.
*/

/*
* These are Base User Panel styles.
*	-It is these url schemes:
*		-Default Route.
*		-Document Manage General User Scheme.
*		-Document Management Author Scheme.
*	
*	-It is used in the document_management/base_panel.html
*		template.
*/
#wrapper{
	padding: 0;
	margin-top: 25px;
	height: 100%;
	border: 1px solid #888;
	background: #CCC;
}
	#wrapper #navbar{
		margin-top: 20px;
		border-right: 1px solid #AAA;
	}

	#wrapper #content{
		margin-top: 20px;
	}

#navbar li{

	padding: 0;
	margin: 0;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #888;

}
/*
* End Base User Panel styles.
*/