<div id="addmeetingform2">

  <div id="select_topics" class="pull-left">
  <div class="title">Topics Available <input type="text" placeholder="Search Topics" id="search_topics" /></div>
  <ul class="draggable pull-left">
    {% for t in topics %}
      <li class="topic schedule-item" publicid="{{ t.publicid }}" id="topic_{{ t.publicid }}">
        <h6>
          {{ t.name }} <br> {{ t.category }} - {{ t.presentationlength }} minutes
        </h6>
      </li>
    {% endfor %}
  </ul> 
  </div>
  <ul id="schedule" class="draggable pull-right">
    <li class="not_draggable">Schedule Scheduled</li>
    
    {% for t in topics_selected %}
      <li class="schedule-item" publicid="{{ t.publicid }}">
        <i class="icon-minus-sign pull-right" onclick="remove_schedule_item($(this));"></i>
        <h6>
          {{ t.name }} <br> {{ t.category }} - {{ t.presentationlength }} minutes
        </h6>
      </li>
    {% endfor %}

    <li class="not_draggable placeholder">Drag Here</li>
  </ul>

</div><!-- #addmeetingform2 -->
<center>
<form action="{{ request.path }}" method="post">
  {% csrf_token %}
<input type="hidden" name="schedule_items" value="" />
<input type="submit" class="btn btn-success btn-large" value="Create Schedule" />
</form>
</center>