<div id="addmeetingform1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><!-- (bootstrap) .close -->
    <h3 id="myModalLabel">Add a Meeting</h3><!-- #myModalLabel -->
  </div><!-- (bootstrap) .modal-header -->

  <div class="modal-body">
    {{ addmeetingform1 }}
  </div><!-- (bootstrap) .modal-body -->

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button><!-- (bootstrap) .btn -->
  </div><!-- (bootstrap) .modal-footer -->
</div><!-- #addmeetingform1 (bootstrap) .modal .hid .fade -->