{% extends "base.html" %}
{% load staticfiles %}
{% load nextmeeting %}
{% block content%}

{{ nextmeeting.next_view_meeting }}

{% if Supervisor %}
{{ nextmeeting.next_edit_meeting_form1 }}
{{ nextmeeting.next_edit_meeting_form2 }}
<!-- Load the meeting form depending on which step we are on. -->
{{ meetingform }}
<!-- End the loading of the meeting form -->
{% endif %}

{% for m in meetings_list %}
{{ m.view_meeting }}

{% if Supervisor %}
{{ m.edit_meeting_form1 }}
{{ m.edit_meeting_form2 }}
{% endif %}

{% endfor %}

{% nextmeeting request %}

<!-- Links for paging through each calendar -->
<ul class="pager" style="width: 106.5%;">
	<!-- Previous button -->
	<li class="previous">
		<a href="/viewmeetings/?month={{prev_month.month}}&year={{prev_month.year}}">&larr; {{ prev_month_textual }}</a>
	</li><!-- (bootstrap) .previous -->
	<li class="next">
		<a href="/viewmeetings/?month={{next_month.month}}&year={{next_month.year}}"> {{ next_month_textual }} &rarr;</a>
	</li><!-- (bootstrap) .next -->
</ul><!-- (bootstrap) .pager -->

<div id="calendar">
	{{ calendar }}
</div><!-- #calendar -->

{% endblock %}

{% block scripts%}
<script src="{% static 'www/js/draggable.calendar.js' %}"></script>
<script src="{% static 'www/js/bootbox.min.js' %}"></script>
<script>

//This function loads the meeting view.
function view_meeting(publicid){
	//Create an identifier for the modal.
	var identifier = '#'+publicid
	//Show the modal.
	$(identifier).modal();
	//Create a tooltip for the meeting.
		$(identifier).find('td').tooltip({track:true, tooltipClass: "yellow-tooltip"}).hover(function(){
			//Change the background of the topic on hover.
			$(this).css('background',"#EFF6FB");
		},function(){
			//Change it back on hover out.
			$(this).css('background','inherit')
		});
}

{% if Supervisor %}
//Get the meeting information.
function add_meeting_modal(date_clicked){
		//Check to make sure there 
		//		was a date clicked.
		if(date_clicked){
			//Add the value of the date clicked 
			//			to the startdate.
			$('#id_startdate').val(date_clicked);
		}
		//Add the meeting form.
		meetingmodal = $('#addmeetingform1');
		if(meetingmodal.length == 0){
			meetingmodal = $('#addmeetingform');
		}
		//Change the meeting_modal.
		meetingmodal.modal();
}

//Edit the meeting.
function edit_meeting(publicid){

	$('#'+publicid).modal('hide');
	//Load the meeting public id.
	identifier = '#editmeetingform1_'+publicid;
	modal = $(identifier);
	//This is the modal.
	//Check the modal.
	modal.modal();
}

//Edit the meeting schedule.
function edit_schedule(publicid){
	$('#'+publicid).modal('hide');
	//Load the meeting public id.
	identifier = '#editmeetingform_'+publicid;
	//Check the modal.
	$(identifier).modal();
}
{% endif %}

//This loops through and checks each of the
//		elements for the right information.
function checkforms(){
	//Select the forms and loop through each one.
	$('form').each(function(){
		//On submit check the fields.
		$(this).submit(function(){
			//This is the form.
			var form = $(this);
			//Create a boolean for the validity.
			var invalid = false;
			//Get the input fields.
			var inputFields = $(this).find('input,textarea');
			var fieldcheckstr = '';
			//Loop through each of the fields.
			inputFields.each(function(){
				var field = $(this)
				var fieldclass = field.attr('class');
				var fieldid = field.attr('id');
				var fieldname = field.attr('name')
				var fieldvalue = field.val();
				var fieldlabel = form.find('label[for="'+fieldid+'"]').text();

				var error_start = 'For the '+fieldlabel.toLowerCase().replace(':','');

				//Make sure there is a name
				if(
					fieldid == 'id_name' &&
					fieldvalue.length == 0
				){
					fieldcheckstr +=  error_start+', please enter a value. \r\n';
					invalid = true;
				}

				//Check the date fields.
				if(
					fieldclass && 
					fieldclass.indexOf('datepicker') != -1 &&
					!fieldvalue.match(/(\d{4})-(\d|\d{2})-(\d|\d{2})/)
				){
					fieldcheckstr += error_start+', please use this format: yyyy-mm-dd \r\n';
					invalid = true;
				}

				//Check the time fields.
				if(
					fieldclass &&
					fieldclass.indexOf('timepicker') != -1 &&
					!fieldvalue.match(/(\d|\d{2}):(\d{2})(am|pm)/)
				){
					fieldcheckstr +=  error_start+', please use this format: 00:00am/pm \r\n';
					invalid = true;
				}

			});
			
			if(invalid){
				//Alert the errors.
				alert(fieldcheckstr);
				//Don't allow them to move on.
				return false;
			}else{
				//Return the variable
				return true;//invalid;
			}
		});
	});
}

$(function(){

	checkforms();

	{% if 'added' in request.GET%}
	//Then we put out a new meeting value.
	toastr.success('Added a meeting \'{{ request.GET.added }}\'');
	{% endif %}

	{% if 'updated' in request.GET %}
	//Then we put out a new meeting value.
	toastr.success('Updated meeting \'{{ request.GET.updated }}\'');
	{% endif %}

	//Get the window location hash.
	if(window.location.hash){
			//Load the meeting information.
			view_meeting(window.location.hash.substr(1));
	}
	//Add a tooltip to the item.
	$('.add_calendar_item').tooltip({track:true, tooltipClass: "yellow-tooltip"})

	//Add a meeting tooltip.
	$('.meeting_link').tooltip({track:true, tooltipClass: "yellow-tooltip"});

	{% if Supervisor %}

		{% if loadform %}
			//Load the meeting modal.
			add_meeting_modal(false);
		{% endif %}
		//Create the code that makes a hover.
		$('#calendar td').hover(function(){
				//Show the calendar item on hover.
				$(this).children('.add_calendar_item').show();
		},function(){
				//Hide the calendar item on hover off.
				$(this).children('.add_calendar_item').hide();
		});

		//Add a calendar item.
		$('.add_calendar_item').click(function(){
				//Get the date clicked.
				date_clicked = $(this).parent().attr('date-value');
				//Add the meeting modal.
				add_meeting_modal(date_clicked);
		});

		//Add a bootbox confirm dialogue, to check
		//		if the user wants to save.
	  $('#addmeetingform').on('hide',function(){
  	//This is the confirm message.
		bootbox.confirm('Are you sure you want to close, you have unsaved data?',function(result){
			//Check the result.
			if(result){
				//Reload the window if the answer is ok.
				window.location = '{{ request.path }}';
			 }else{
			 	//Otherwise pull up the modal.
			 	$('#addmeetingform').modal();
			}
		});
});

		{% endif %}

});


</script>
{% endblock %}