{% extends "base_panel.html" %}

{% block panelContent%}

	{{ search_form|safe }}

	{% if documents|length > 0 %}

		{% for document in documents %}
			<div class="list-document" onclick="location.href = '/viewdocument/{{ document.id }}/';">
				Click to view {{ document.name }} by {{ document.user}}<br>
				{{ document.description }}
			</div><!-- .list-document -->

		{% endfor %}

	<div class="pagination">
	    <span class="step-links">
	        {% if documents.has_previous %}
	            <a href="?page={{ documents.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ documents.number }} of {{ documents.paginator.num_pages }}.
	        </span><!-- .current -->

	        {% if documents.has_next %}
	            <a href="?page={{ documents.next_page_number }}">next</a>
	        {% endif %}
	    </span><!-- .step-links -->
	</div><!-- .pagination -->

	  {% else %}

	  	<span class="text-error">No results found</span><!-- .text-error -->

	{% endif %}

{% endblock %}
