{% extends "base.html" %}

{% block content %}
		<form action="{{ request.get_full_path }}" method="POST">
				{% csrf_token %}
				<table class="form-table">
					{% if loginerror %}
					<tr>
						<td colspan="2" class="text-error small">
							The username or password you entered is incorrect.
						</td>
					</tr>
					{% endif %}
					{{ AuthenticationForm.as_table }}
					<tr>
						<td colspan="2"><input type="submit" value="login" /></td>
					</tr>
				</table><!-- .form-table -->
		</form>
{% endblock %}