{% extends "base.html" %}

{% block content %}

<!-- Here a Program Manager or Supervisor can add a topic. -->

<!--
	#form_element is the default form element, it gets copied into #file_container div below.
		-This enables multiple file upload.
-->
<div id="form_element" style="display: none;">
	<!-- To get the count I used an attribute called count, it is increment by jQuery and is the number of time #file_form_id has been copied -->
	<input type="file" name="element_form" id="file_form_id" count="0" class="file_form" onchange="$(this).hide(); clone_form($(this).val());" />
</div><!-- #form_element -->

<!-- The main form, it does multiple file upload using a bit of JavaScript -->
<form enctype="multipart/form-data" action="{{ request.get_full_path }}" method="POST" id="addtopicform_tag">
	{% csrf_token %}
	<table id="topic_info_table">
		{{ topicform.as_table }}
		<tr>
			<td colspan="2" class="submit_button_row"></td>
		</tr>
	</table><!-- #topic_info_table -->

	<div id="file_container">
	</div><!-- #file_container -->
	<table id="docs" class="table table-striped">
	</table><!-- #docs -->
	<center><input type="submit" value="Upload" /></center>
</form>
<!-- End of the main form -->
{% endblock %}

{% block scripts %}
	<script>
		//This function clones the file upload field #file_form_id
		//		into the #file_container to do multiple file
		//		upload in a single form.
		//		var uploaded_topic_name is the name of the topic uploaded.
		function clone_form(uploaded_topic_name){

			//Get the file form element with the id
			//	#file_form_id (the original file 
			//	form element)
			originalform = $('#file_form_id');

			//Get the amount of times we copied the
			//	original form.
			count = parseInt(originalform.attr('count'));

			//Increment the count attribute
			originalform.attr('count',count + 1);

			//Copy the file form element
			form = $('#form_element').html();
			
			//Define new name and id attribute values
			//	for the copied form element.
			name = 'file_'+count;
			id = 'file_form_'+count;
			
			//Replace the name and id attributes.
			form = form.replace('element_form',name);
			form = form.replace('file_form_id',id);
			
			//Place the "uploaded" file form into the table.
			$('#file_container').prepend(form);

			//If the count of the docs is above 0 show the form.
			if(count > 0){
				$('#docs').show();
			}

			//This is the id of the file form element
			//	that has just been added.
			//	It will be -1 if the page has just 
			//		loaded.
			file_form_id = count - 1;

			//This happens if the user has uploaded
			//	a file, if the page has just loaded
			//	it will be skipped.
			if(uploaded_topic_name && file_form_id > -1){
				//This is is a row that is added to the
				//	#docs table.
				html = '<tr id="row_'+file_form_id+'">';
				//This is a delete file in the 
				html+= 		'<td>';
				//This lists the name of the document in the table.
				html+=			'<span class="label label-success">'+uploaded_topic_name+'</span>';
				html+=		'</td>';
				html+= 		'<td>';
				//This is a button to delete the file, it is within the row.
				html+=			'<a href="javascript:void(0);" onclick="removefile('+file_form_id+')" class="del badge badge-important">x</a>';
				html+= 		'</td>';
				html+= "</tr>";
				
				//Append the row into the table
				$("#docs").append(html);
			}
		}

		//The removefile function deletes the uploaded
		//		file form element from the form.
		function removefile(file_form_id){
			$("input[name='file_"+file_form_id+"']").remove();
			$("#row_"+file_form_id).remove();
		}

		//Run document load action.
		$(function(){
			//Clone the first file 
			//	form element.
			clone_form();

			//In the topic form tag add special code to format.
			$("#addtopicform_tag").submit(function(){
				//Define a flag to check if it is true.
				var valid = true;
				//Define an string for the error.
				var err_string = "";
				//Loop through each of the form inputs.
				$('input,textarea,select').each(function(){
					//Select the field input.
					var field = $(this);
					//Select the next tr in the dom.
					var parent = field.closest('tr');
					//Get the value of the field.
					var value = field.val();
					//Get the value of the name attribute in the field.
					var name = field.attr('name');
					//Get the label text value, lowercase and remove the colon.
					var label = parent.find('label').text().toLowerCase().replace(':','');
					//Check the length of the label if it exists
					//		and check the length of the value.
					if(label.length > 0 && value.length < 1){
						//Add an error message to the string.
						err_string += "Please fill out a "+label+".\r\n";
						//Mark the farm as invalid.
						valid = false;
					}
				});
				//If there is a length to the error string.
				if(err_string.length) alert(err_string);
				//Return if the string is valid.
				return valid;
			});
		});
	</script>
{% endblock %}