{% extends "base.html" %}

{% block content %}
<!--

	This is the UI template.

-->
<div id="wrapper" class="container">
	<a id="logout" class="btn btn-info" href="/logout/">logout</a>
	<div id="navbar" class="span3">

		{% for group in user.groups.all %}
			
			{% if group.name == 'General User' %}
			<div class="nav-block">
				<h6>General User Navigation</h6>
				<a href="/">View Documents</a>
			</div><!-- .nav-block -->
			{% endif %}

			{% if group.name == 'Program Manager' %}
			<div class="nav-block">
				<h6>Program Manager Navigation</h6>
				<a href="/adddocument/">Add Document</a>
			</div><!-- .nav-block -->
			{% endif %}

			{% if group.name == 'Supervisor' %}
			<div class="nav-block">
				<h6>Supervisor Navigation</h6>
				<a href="/viewusers/">Users</a>
				<!-- {% for models in dashboard_models %}
					<a href="/objects/{{ models }}/">{{ models }}</a> <br>
				{% endfor %} -->
			</div><!-- .nav-block -->
			{% endif %}
		
		{% endfor %}	
	</div><!-- #navbar (bootstrap) .span3 -->
	<div id="content" class="span8">
		<span class="label label-info">{{ title }}</span>
		<div id="content-wrapper">
			{% block panelContent %} Content {% endblock %}
			<div class="clear-fix"></div>
		</div><!-- #content-wrapper -->
	</div><!-- #content (bootstrap) .span8 -->
	<div class="clear-fix"></div>
</div><!-- #wrapper (bootstrap) .container -->
<!-- 

	End UI template.

-->
{% endblock %}